* {
  box-sizing: border-box;
}

body {
  margin:3%;
  font-family: 'Fantasy', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  color: black;
  background-color: grey;
}

h3{
  color:white;
  font-family:cursive;
}

p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {

  margin: 0;
}

 /* main logo / nav */
header {
  display: flex;
  gap: 2rem;
  font-size: large;
  font-weight:normal;
  font-family:cursive;
}

.nav {
  display: flex;
  gap: 1rem;
  position: relative;
  left: 30%;
}

.nav a {
  color:white;
  font-size: small;
  text-decoration: none;
}

/*hero-banner*/
.hero-banner {
  display: flex;
  flex-direction: column;
  padding: 60px;
  position: absolute;
  top: 20%;
  right: 30%;  
}

/*about section*/
.about-page-section {
  display: flex;
  flex-direction: column;
  position: relative;
  left:40%;
  margin-top: 1%;
  margin-bottom: 1%;
}

/* portfolio container */

/* cards */
.work-page-section { 
  position:relative;
  margin-top: 5%;
  padding: 3%;
}

.featured-card {
  display:grid;
  grid-template-rows: repeat(auto-fit, minmax(10rem, 1fr));
  margin-bottom: 2%;    
}

.small-cards {
  display: grid;
  /*to adjust in different screen sizes*/
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 3%; 
}

.card {
  box-shadow:2px 2px 2px 2px white;
}

.card_details {
  padding: 2%;
  background: whitesmoke;
  text-align: center;
}

.card_link{
  text-align: right;
  font-size: smaller; 

}
.card-image {
  width: 100%;
  display: block;
}

/*Contact section */

.contact-section {
  display: flex;
  flex-direction: column;
  position:relative;
  left:40%; 
  margin-top:10%;
}

.contact a {
  display: flex;
  flex-direction: column;
  color:black;
  text-decoration: none;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* Media Queries */

/* tablets */


@media screen and (max-width:800px) {
    .hero-banner{
      padding: 10%;
      top: 10%;
    }
    .nav{
      position:absolute;
      left: 0%;
      }
  }

  /* mobile phones */

@media screen and (max-width:480px) {
  h1{
    position:relative;
    top: 100%;
    right: 100%;
    padding: 30%;
    
  }

  .avatar{
    width: 200%;
    position:relative;
    top:20%;
    left: 60%;
  }
    
  .hero-banner {
    padding: 30%;
    position:relative;
    left:5%; 
    margin-top: 20%;
    margin-left: -10%;
}
.nav{
position:absolute;
left: 0%;
}
.about-page-section{
  position: relative;
  left:3%;
}

.contact-section{
  position:absolute;
  left:10%;
   
}
