* {
  box-sizing: border-box;
}

body {
  margin:3%;
  font-family: 'Fantasy', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  color: black;
  background-color: grey;
}

h3{
  color:white;
  font-family:cursive;
}

p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {

  margin: 0;
}

 /* main logo / nav */
header {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  font-size: large;
  font-weight:normal;
  font-family:cursive;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  position: relative;
  left: 30%;
}

.nav a {
  color:white;
  font-size: small;
  text-decoration: none;
}

/*hero-banner*/
.hero-banner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 60px;
  position: absolute;
  top: 20%;
  right: 30%;  
}

/*about section*/
.about-page-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  left:40%;
  margin-top: 1%;
  margin-bottom: 1%;
}

/* portfolio container */
.work-page-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative; 
  margin-top: 10%;
  margin-bottom: 10%;
}
/* cards */
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.card {
  box-shadow:2px 2px 2px 2px white;
}

.card_details {
  padding: 10px;
  background: whitesmoke;
  text-align: center;
}

.card_link{
  text-align: right;
  font-size: smaller; 

}
.card-image {
  width: 100%;
  display: block;
}

/*Contact section */

.contact-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position:relative;
  left:40%; 
  margin-top:15%;
}

.contact a {
  display: flex;
  flex-direction: column;
  color:black;
  text-decoration: none;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}






