* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1%;
  font-family: 'Fantasy', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  color: black;
  background-color: grey;
}

h3{
  color:white;
  font-family:cursive;
}

p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {

  margin: 0;
}

 /* main logo / nav */
header {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  font-size: large;
  font-weight:normal;
  font-family:cursive;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  position: relative;
  left: 30%;
}

.nav a {
  color:white;
  font-size:small;
  text-decoration: none;
}

/*hero-banner*/
.hero-banner {
  display:flex;
  justify-content: center;
  padding: 50px;
  position:absolute;
  top: 10%;
  right: 40%;
}

/*about section*/
#about {
  position:absolute;
  left:40%;
  bottom: 40%
}

/* cards */
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.card {
  box-shadow:2px 2px 2px 2px white;
}

.card_details {
  padding: 10px;
  background: whitesmoke;
  text-align: center;
}

.card_link{
  text-align: right;
  font-size:smaller; 

}
.card-image {
  width: 100%;
  display: block;
}

/*Contact me section */

.Get-in-touch {
  display: flex;
  justify-content: center;
  
  
}
.contact a {
  display:flex;
  justify-content: center;
  color:black;
  text-decoration: none;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}






